:root {
  --primary: #00BC7A;
  --secondary: #015F97;
  --background: #FFFFFF;
  --text: #111827;
}

[data-theme="dark"] {
  --primary: #00BC7A;
  --secondary: #015F97;
  --background: #070C20;
  --text: #F9FAFB;
}

body {
  background-color: var(--background);
  color: var(--text);
}